* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
    margin: 0 auto;
}

input, textarea {
    font-size: 1em;
}

button, input[type=submit] {
    font-size: 1em;
    font-weight: 100;
    padding: 0.1em 0.3em;
    background-color: black;
    border: 1px solid black;
    color: white;
}

button:hover, input[type=submit]:hover {
    background-color:white;
    color: black;
    border: 1px solid black;
}

form > label {
    display: block;
}

textarea {
    min-height: 50vh;
}

.form-field {
    min-width: 80%;
    border: 1px solid gray;
}

#login-form label, #sign-up-form label {
    display: block;
    margin: 0.5em 0;
    font-size: 1.3em;
    font-weight: 100;
}

#note-list {
    margin: 3rem 0;
}

#note-card .card-header {
    margin-bottom: 0.5rem;
}

#note-card .card-content {
    margin: 0.5rem 0;
}

#note-card .card-info {
    margin-top: 0.5rem;
}

@media screen and (min-width: 500px) {
    body {
        max-width: 500px;
    }
}

@media screen and (min-width: 700px) {
    body {
        max-width: 700px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
    }
}